body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1599511492258-af40715a7be2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fGZhcm1lcnMlMjBmaWVsZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    height: 150%;
    background-repeat: repeat;
    background-size: 100% 100%;
  
  }
  h1{
    color:rgb(30, 65, 54) ;
    font-size: 2rem;
    text-align:center;
    padding: 20px;
  }
  div{
    background-color: #fdcfdf;
   text-align: center;
  }
  span{
    color: white;
    font-size: 17px;
    position: relative;
  
  }
  a{
    float: right;
    color: grey;
  }
  .login{
    width:382px;
    margin: auto;
    overflow: hidden;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #8bbb90;
    border-radius: 15px;
  }
  label{
    font-size: 18px;
    color: #ffdd93;
    position: relative;
    right: 30px;
  }
  .label{
    color: #21362a;
    margin-right: 150px;
    
  }
  #uname{
    width: 300px;
    height: 30px;
    border:none;
    padding-left: 8px;
    border-radius: 3px;
  }
  a{
      text-decoration: none;
  }
  .aclr{
      color: #21362a;
    
  }
  #pass{
    width: 300px;
    height: 30px;
    border:none;
    padding-left: 8px;
    border-radius: 3px;
  
  }
  #log{
    width: 300px;
    height: 30px;
    border:none;
    padding-left: 7px;
    border-radius: 17px;
    color: rgb(235, 241, 238);
    background-color: rgb(58, 119, 58);
    cursor: pointer;
  }