<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farming Techniques</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/jpg" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/govt.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
   
    <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Hara Jeewan</label>
        <ul>
            <li><a href="index.html" class="active" target="_blank" >Home</a></li>
            <li><a href="#" target="_blank">Crop Information</a></li>
            <li><a href="#" target="_blank">Queries</a></li>
            <li><a href="login.html" target="_blank">Login/Signup</a></li>
        </ul>
        <label id="icon">
            <i class="">

            </i>
        </label>
    </nav>
    <h1 class="head">Farming Techniques</h1>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>Subsistence Farming / Agriculture </h1>
            </div>
            <div class="card-body">
                <p>
                    This farming system is being used by many farmers in India as most of them are small scale farmers who cannot able to afford high yielding seeds and required crop fertilizers.
<br/><br/>
                </p>
                <a href="/tech1" class="btn" target="_blank">Read more</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card">
            <div class="card-header">
                <h1>Shifting Agriculture</h1>
            </div>
            <div class="card-body">
                <p>
                    In this type of farming system, usually a small extent of forest land is cleared for growing crops. Mostly tribal farmers used to practice this.<br/><br/>
                </p>
                <a href="/tech2" class="btn" target="_blank">Read more</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>Plantation Agriculture / Farming</h1>
            </div>
            <div class="card-body">
                <p>
                    Plantation farming is nothing but a tree or bush farming which had been introduced by the British around the 19th century. It mostly refers to single crop orchards or crops. <br/><br/>
                </p>
                <a href="/tech3" class="btn" target="_blank">Read more</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card">
            <div class="card-header">
                <h1>Intensive Farming / Agriculture</h1>
            </div>
            <div class="card-body">
                <p>
               It is a cultivation practice where one can obtain a high yield per unit area.<br/><br/>
                </p>
                <a href="/tech4" class="btn" target="_blank">Read more</a>
            </div>
        </div>
    </div>
       
   
</body>
</html>