<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Schemes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/jpg" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/govt.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
   
    <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Hara Jeewan</label>
        <ul>
            <li><a href="index.html" class="active" target="_blank" >Home</a></li>
            <li><a href="#" target="_blank">Crop Suggestion</a></li>
            <li><a href="#" target="_blank">Queries</a></li>
            <li><a href="https://www.india.gov.in/topics/agriculture" target="_blank">Official Website</a></li>
            <li><a href="login.html" target="_blank">Login/Signup</a></li>
        </ul>
        <label id="icon">
            <i class="">

            </i>
        </label>
    </nav>
    <h1 class="head">GOVERNMENT SCHEMES</h1>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>PRADHAN MANTRI FASAL BIMA YOJANA </h1>
            </div>
            <div class="card-body">
                <p>
                    To provide insurance coverage and financial support to the farmers in the event
of failure of any of the notified crop as a result of natural calamities, pests & amp;
diseases.<br/><br/>
                </p>
                <a href="/PM" class="btn" target="_blank">Read more</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card">
            <div class="card-header">
                <h1>Pradhan Mantri Krishi Sinchai Yojana(PMKSY)</h1>
            </div>
            <div class="card-body">
                <p>
                    To this effect Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) has been formulated with the vision of extending the coverage of irrigation ‘Har Khet ko pani’<br/><br/>
                </p>
                <a href="/PM2" class="btn" target="_blank">Read more</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>Paramparagat Krishi Vikas Yojna (PKVY)</h1>
            </div>
            <div class="card-body">
                <p>
                    It aims at development of sustainable models of organic farming *through a mix of traditional wisdom and modern science to 
                    ensure long term soil fertility buildup, resource conservation and helps in climate change adapatation and mitigation. <br/><br/>
                </p>
                <a href="/PM3" class="btn" target="_blank">Read more</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card">
            <div class="card-header">
                <h1>Gramin Bhandaran Yojna</h1>
            </div>
            <div class="card-body">
                <p>
                Promotion of grading, standardization and quality control of agricultural produce to improve their marketability.<br/><br/>
                </p>
                <a href="/PM4" class="btn" target="_blank">Read more</a>
            </div>
        </div>
    </div>
       
   
</body>
</html>