<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login-Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/jpg" >
  </head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <body>
    <h1>LogIn Form</h1>
    <div class="login">
      <form class="uname" action="https://twitter.com/login" method="post">
        <label class="label" > <b>User Name:</b></label>
        <input type="text" name="uname" id="uname" placeholder="type username" required><br /><br />
        <label class="label"> <b>Password:</b></label>
        <input type="password" name="pass" id="pass" placeholder="password here" required><br /><br />
        <input type="button" name="log" id="log" value="login here"><br /><br />
        <input type="checkbox" id="check">
        <span class="label">Remember me.</span><br /><br />
        <h3 class="label">Forget Password ?</a></h3><br /><br />
      </form>
    </div>
  </body>
</html>