<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Irrigation Techniques</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/jpg" >
    <style>
        .head2{
            text-align: center;
            padding: 0;
            margin-top: 40px;
            font-size: 20px;
            text-decoration-line: underline;
        }
        body{
            background-color: #b1c7db;
        }
        .head2:hover{
            box-sizing:border-box;
        }
        .bold{
            text-align: center;
            font-size: 18px;
            margin-left: 10px;
        }
        .tnx{
            text-align: center;
            font-weight: bolder;
            font-size: 18px;
            font-family: sans-serif;
        }
        .para1{
            font-size: 18px;
            font-family: sans-serif;
            padding: 10px;
        }
        .image{
            float: right;
        }
    </style>
</head>
<body>
    <h2 class="head2">
        STRIP IRRIGATION METHOD
    </h2><br/><br/>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq2z03JnBTzuvew7TYiv9nPA88NjoJMTWJZQ&usqp=CAU" alt="irrigation" width="415" height="250" class="image">
   <p class="para1">
    <b class="bold">Introduction:</b><br/><br/>
    In all the surface methods, Surface irrigation Uncontrolled flooding, Border strip,Check,Basin,Furrow method. of irrigation,
     water is either ponded on the soil or allowed to flow continuously over the soil surface for the duration of irrigation.
      Although surface irrigation, Surface irrigation Uncontrolled flooding, Border strip,Check,Basin,Furrow method. is the oldest and most common method of irrigation, it does not result in high levels of performance. 
       This is mainly because of uncertain infiltration rates which are affected by year-to-year changes in the cropping pattern, cultivation practices, climatic factors, and many other factors. As a result, correct estimation of irrigation efficiency of surface irrigation is difficult. Application efficiencies for surface methods may range from about 40 to 80 per cent.
   </p>
   <p class="para1">
    <b class="bold"></b><br/><br/>
    Surface irrigation which includes the following:</br>
(a) Uncontrolled (or wild or free) flooding method,</br>
(b) Border strip method,</br>
(c) Check method,</br>
(d) Basin method, and</br>
(e) Furrow method.</br>
   </p>
   <p class="para1">
    (a) Uncontrolled Flooding</br>
When water is applied to the cropland without any preparation of land and without any
levees to guide or restrict the flow of water on the field, the method is called ‘uncontrolled’, wild or ‘free’ flooding. In this method of flooding, water is brought to field ditches and then admitted at one end of the field thus letting it flood the entire field without any control.<br/><br>
   </p>
   
   <p class="para1">
    (b) Border Strip Method </br>
Border strip irrigation (or simply ‘border irrigation’) is a controlled surface flooding
method of applying irrigation water. In this method, the farm is divided into a number of
strips which can be 3-20 metres wide and 100-400 metres long. These strips are separated by low levees (or borders). The strips are level between levees but slope along the length according to natural slope. If possible, the slope should be between 0.2 and 0.4 per cent. But, slopes as flat as 0.1 per cent and as steep as 8 per cent can also be used (1).<br>
   </p>
   <p class="para1">
    (c) Check Method</br>
    The check method of irrigation is based on rapid application of irrigation water to a
    level or nearly level area completely enclosed by dikes.In this method, the entire field is
    divided into a number of almost levelled plots (compartments or ‘Kiaries’) surrounded by levees.Water is admitted from the farmer’s watercourse to these plots turn by turn. This method is suitable for a wide range of soils ranging from very permeable to heavy soils. The farmer has very good control over the distribution of water in different areas of his farm. Loss of water through deep percolation (near the supply ditch) and surface runoff can be minimised and adequate irrigation of the entire farm can be achieved. Thus, application efficiency is higher for this method. However, this method requires constant attendance and work (allowing and closing the supplies to the levelled plots). Besides, there is some loss of cultivable area which is occupied by the levees. Sometimes, levees are made sufficiently wide so that some ‘row’ crops can be grown over the levee surface. <br><br><br>
   </p>
   
   <p class="para1">
    (d) Basin Method</br>
This method is frequently used to irrigate orchards. Generally, one basin is made for
one tree. However, where conditions are favourable, two or more trees can be included in one basin<br>
   </p>

   <p class="para1">
    (e) Furrow Method</br>
In the surface irrigation methods discussed above, the entire land surface is flooded
during each irrigation. An alternative to flooding the entire land surface is to construct small channels along the primary direction of the movement of water and letting the water flow through these channels which are termed ‘furrows’, ‘creases’ or ‘corrugation’. Furrows are small channels having a continuous and almost uniform slope in the direction of irrigation. Water infiltrates through the wetted perimeter of the furrows and moves vertically and then laterally to saturate the soil. Furrows are used to irrigate crops planted in rows.<br>
   </p>

   

<i>For more , you can refer this video ...
    Or visit <a href="https://www.youtube.com/embed/Y5E5YcBevxE" target="_blank"> Click here</a>
</i><br><br>
<center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y5E5YcBevxE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</center>  
</p>
  <br>
   <I class="tnx">JAI JAWAAN , JAI KISAAN ♥</I>

   

    

</body>
</html>