<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Irrigation Techniques</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/jpg" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modern_f.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
   
    <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Hara Jeewan</label>
        <ul>
            <li><a href="/" class="active" target="_blank" >Home</a></li>
            <li><a href="/cropinfo" target="_blank">Crop Information</a></li>
            <li><a href="#" target="_blank">Queries</a></li>
            <li><a href="https://www.india.gov.in/topics/agriculture" target="_blank">Official Website</a></li>
            <li><a href="/login" target="_blank">Login/Signup</a></li>
        </ul>
        <label id="icon">
            <i class="">

            </i>
        </label>
    </nav>
    <h1 class="head">MODERN IRRIGATION TECHNIQUES</h1>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>Sprinkler Irrigation Method. </h1>
            </div>
            <div class="card-body">
                <p>
                    In this method, water is supplied to the field from source thorough pipes. 
                    This method is used in areas where there is more scarcity of water and in high temperature regions, to maintain the humidity.<br/><br/>
                </p>
                <a href="/MIT1" class="btn" target="_blank">Read more</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card">
            <div class="card-header">
                <h1>DRIP IRRIGATION</h1>
            </div>
            <div class="card-body">
                <p>
                    A new irrigation system is developed which is known to be drip irrigation or trickle irrigation. 
                    This method was developed in Israel and after that it became popular in water scarcity areas. <br/><br/>
                </p>
                <a href="/MIT2" class="btn" target="_blank">Read more</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>POT IRRIGATION METHOD</h1>
            </div>
            <div class="card-body">
                <p>
                    The pot irrigation method may be considered as an alternative of the drip irrigation system. 
                    It was originated in North Africa and Iran. This method is more suitable in areas of low rainfall. <br/><br/>
                </p>
                <a href="/MIT3" class="btn" target="_blank">Read more</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card">
            <div class="card-header">
                <h1>Strip Irrigation Method</h1>
            </div>
            <div class="card-body">
                <p>
                    In strip irrigation method, fields are divided into strips of different size. 
                    A boundary called ‘Med’ is formed to separate the strips.<br/><br/>
                </p>
                <a href="/MIT4" class="btn" target="_blank">Read more</a>
            </div>
        </div>
    </div>
       
   
</body>
</html>